<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Shopfy.x5Star.UserSalePrices" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="31" />
	<application android:allowBackup="true" android:label="Shopfy" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true" android:icon="@drawable/shopfy_logo_2"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
</manifest>